@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
  --color-primary: #FFC75F;
  --color-secondary: #FFC75F;
  --color-dark: #1F2937;
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-pacifico: "Pacifico", cursive;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

/* Custom scrollbar for body */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #FFC75F;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e6a945;
}

